## Imports

In [2]:
import pandas as pd

## Dataset

In [3]:
df = pd.read_csv('data/customer_churn.csv')

In [5]:
df.head()

,Maior65Anos,Conjuge,Dependentes,MesesDeContrato,TelefoneFixo,VariasLinhasTelefonicas,ServicoDeInternet,SegurancaOnline,BackupOnline,SeguroNoDispositivo,SuporteTecnico,TVaCabo,StreamingDeFilmes,TipoDeContrato,PagamentoOnline,FormaDePagamento,ContaMensal,Churn
0,0,Sim,Nao,1,Nao,SemServicoTelefonico,DSL,Nao,Sim,Nao,Nao,Nao,Nao,Mensalmente,Sim,ChequeDigital,29.85,Nao
1,0,Nao,Nao,34,Sim,Nao,DSL,Sim,Nao,Sim,Nao,Nao,Nao,UmAno,Nao,ChequePapel,56.95,Nao
2,0,Nao,Nao,2,Sim,Nao,DSL,Sim,Sim,Nao,Nao,Nao,Nao,Mensalmente,Sim,ChequePapel,53.85,Sim
3,0,Nao,Nao,45,Nao,SemServicoTelefonico,DSL,Sim,Nao,Sim,Sim,Nao,Nao,UmAno,Nao,DebitoEmConta,42.30,Nao
4,0,Nao,Nao,2,Sim,Nao,FibraOptica,Nao,Nao,Nao,Nao,Nao,Nao,Mensalmente,Sim,ChequeDigital,70.70,Sim

In [8]:
df.columns

Index(['Maior65Anos', 'Conjuge', 'Dependentes', 'MesesDeContrato',
       'TelefoneFixo', 'VariasLinhasTelefonicas', 'ServicoDeInternet',
       'SegurancaOnline', 'BackupOnline', 'SeguroNoDispositivo',
       'SuporteTecnico', 'TVaCabo', 'StreamingDeFilmes', 'TipoDeContrato',
       'PagamentoOnline', 'FormaDePagamento', 'ContaMensal', 'Churn'],
      dtype='object')

In [6]:
df.describe()

       Maior65Anos  MesesDeContrato  ContaMensal
count  7043.000000      7043.000000  7043.000000
mean      0.162147        32.371149    64.761692
std       0.368612        24.559481    30.090047
min       0.000000         0.000000    18.250000
25%       0.000000         9.000000    35.500000
50%       0.000000        29.000000    70.350000
75%       0.000000        55.000000    89.850000
max       1.000000        72.000000   118.750000

In [18]:
def show_categorical_values(df):
       categorical_values = ['Maior65Anos', 'Conjuge', 'Dependentes', 'TelefoneFixo', 'VariasLinhasTelefonicas', 'ServicoDeInternet', 'SegurancaOnline', 'BackupOnline', 
                            'SeguroNoDispositivo', 'SuporteTecnico', 'TVaCabo', 'StreamingDeFilmes', 'TipoDeContrato', 'PagamentoOnline', 'FormaDePagamento', 'Churn']
       for col in categorical_values:
              print(col)
              print(df[col].value_counts())

show_categorical_values(df)

Maior65Anos
0    5901
1    1142
Name: Maior65Anos, dtype: int64
Conjuge
Nao    3641
Sim    3402
Name: Conjuge, dtype: int64
Dependentes
Nao    4933
Sim    2110
Name: Dependentes, dtype: int64
TelefoneFixo
Sim    6361
Nao     682
Name: TelefoneFixo, dtype: int64
VariasLinhasTelefonicas
Nao                     3390
Sim                     2971
SemServicoTelefonico     682
Name: VariasLinhasTelefonicas, dtype: int64
ServicoDeInternet
FibraOptica    3096
DSL            2421
Nao            1526
Name: ServicoDeInternet, dtype: int64
SegurancaOnline
Nao                     3498
Sim                     2019
SemServicoDeInternet    1526
Name: SegurancaOnline, dtype: int64
BackupOnline
Nao                     3088
Sim                     2429
SemServicoDeInternet    1526
Name: BackupOnline, dtype: int64
SeguroNoDispositivo
Nao                     3095
Sim                     2422
SemServicoDeInternet    1526
Name: SeguroNoDispositivo, dtype: int64
SuporteTecnico
Nao                     3473
Sim                     2044
SemServicoDeInternet    1526
Name: SuporteTecnico, dtype: int64
TVaCabo
Nao                     2810
Sim                     2707
SemServicoDeInternet    1526
Name: TVaCabo, dtype: int64
StreamingDeFilmes
Nao                     2785
Sim                     2732
SemServicoDeInternet    1526
Name: StreamingDeFilmes, dtype: int64
TipoDeContrato
Mensalmente    3875
DoisAnos       1695
UmAno          1473
Name: TipoDeContrato, dtype: int64
PagamentoOnline
Sim    4171
Nao    2872
Name: PagamentoOnline, dtype: int64
FormaDePagamento
ChequeDigital      2365
ChequePapel        1612
DebitoEmConta      1544
CartaoDeCredito    1522
Name: FormaDePagamento, dtype: int64
Churn
Nao    5174
Sim    1869
Name: Churn, dtype: int64

In [15]:
# Changing sim and nao to 1 and 0
yes_no_dict = {"Sim": 1, 
               "Nao": 0}

columns_to_modify = ['Conjuge', 'Dependentes', 'TelefoneFixo', 'PagamentoOnline', 'Churn']
df_modified = df[columns_to_modify].replace(yes_no_dict)
df_modified.head()

   Conjuge  Dependentes  TelefoneFixo  PagamentoOnline  Churn
0        1            0             0                1      0
1        0            0             1                0      0
2        0            0             1                1      1
3        0            0             0                0      0
4        0            0             1                1      1

In [16]:
# join df_modified and old df
df_dummies = pd.get_dummies(df.drop(columns_to_modify, axis=1))
df_final = pd.concat([df_dummies, df_modified], axis=1)
df_final.head()

,Maior65Anos,MesesDeContrato,ContaMensal,VariasLinhasTelefonicas_Nao,VariasLinhasTelefonicas_SemServicoTelefonico,VariasLinhasTelefonicas_Sim,ServicoDeInternet_DSL,ServicoDeInternet_FibraOptica,ServicoDeInternet_Nao,SegurancaOnline_Nao,...,TipoDeContrato_UmAno,FormaDePagamento_CartaoDeCredito,FormaDePagamento_ChequeDigital,FormaDePagamento_ChequePapel,FormaDePagamento_DebitoEmConta,Conjuge,Dependentes,TelefoneFixo,PagamentoOnline,Churn
0,0,1,29.85,0,1,0,1,0,0,1,...,0,0,1,0,0,1,0,0,1,0
1,0,34,56.95,1,0,0,1,0,0,0,...,1,0,0,1,0,0,0,1,0,0
2,0,2,53.85,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,1,1
3,0,45,42.30,0,1,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0
4,0,2,70.70,1,0,0,0,1,0,1,...,0,0,1,0,0,0,0,1,1,1